
@font-face {
    font-family: 'Hornbill Personal Use';
    src: url('../components/assets/fonts/hornbill-personal-use.regular.otf') format('opentype');
    font-display:swap;
  }
 
 @font-face {
    font-family: 'Aeonik';
    src: url('../components/assets/fonts/AeonikTRIAL-Regular.otf') format('opentype');
    font-display:swap;
  }
  
  @font-face {
    font-family: 'Aeonik-Bold';
    src: url('../components/assets/fonts/AeonikTRIAL-Bold.otf') format('opentype');
    font-display:swap;
  }


.dash-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 50px;
    border: solid rgb(236, 236, 236);
    border-radius: 10px;
    
}



.pfp2{
    width: 150px;
    position: absolute;
    top: 250px;
    left: 180px;
}

.description{
    width: 700px;
    font-family: 'Aeonik';
}
.store-name{
    font-family: 'Hornbill Personal Use';
    font-size:50px;

}
.card_body{
    border: solid rgb(236, 236, 236);
    border-radius: 10px;
    width: 400px;
    height: 150px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 0%;
}

.chart{
    display: flex;
    flex-direction: column;
    border: solid rgb(236, 236, 236);
    border-radius: 10px;
    width: 630px;
    
}
.dash-holder2{
    display: flex;
    flex-direction: column;
    border: solid rgb(236, 236, 236);
    border-radius: 10px;
    margin-bottom: 100px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.top-tables{
    background-color: #3D006C;
    padding: 10px;
    color: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.top-table{
    border: solid thin rgb(236, 236, 236);
}

.di{
    background-color: #8113DD;
    border-radius: 25px;
    padding: 10px;
    color: white;
}

.di2{
    border: solid  #8113DD;
    border-radius: 25px;
    padding: 10px;
}
.twidth{
    width: 1000px;
}


@media (max-width:1287px){
    .banner{
        width: 1000px;
    }
    .twidth{
        width: 800px;
    }
}

@media (max-width:1089px){
    .banner{
        width: 900px;
    }
    .description {
        font-size: 15px;
        width: 500px;
    }
    .twidth{
        width: 750px;
    }
}
@media (max-width:986px){
    .banner{
        width: 700px;
    }
    .description {
        font-size: 12px;
        width: 500px;
    }
    .di{
        font-size: 12px;
    }
    .di2{
        font-size: 12px;
    }
    .twidth{
        width: 500px;
    }
}