.nav-container{
    display: flex;
    justify-content: space-between;
    border: solid rgb(236, 236, 236);

}
.nav-main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 60px;
    margin-right: 60px;
}